{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
{% include 'encyclopedia/messages.html' %}
    <h1>Create new page</h1>
    <div>
        <form action="{% url 'create_Page' %}" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <p>If you need more information about the Markdown language you can access
                <a href = "https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">here</a>.</p>
            </p>
            <input type="submit" value="Create">
        </form>
    </div>
{% block editor %}
{% endblock %}
{% endblock %}